:root { 
--black_900_7f:#0000007f; 
--gray_700:#5c5c5c; 
--gray_400:#bcbfc2; 
--gray_301:#e0e0e0; 
--pink_50:#fae0e6; 
--black_900_b2:#000000b2; 
--gray_200:#eaeaea; 
--gray_300:#e4e6e7; 
--gray_201:#e5e8eb; 
--gray_50:#f9fcff; 
--bluegray_900:#2d2f30; 
--bluegray_500:#73828c; 
--black_900:#000000; 
--bluegray_400:#74839d; 
--pink_601:#d2385d; 
--pink_600:#d2395e; 
--white_A700:#ffffff; 
--pink_400:#d75272; 
--gray_700_11:#55555511; 
--gray_700_99:#5c5c5c99; 
}